
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}


body {
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
}


header {

    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.logo img {
    height: 30px;
    margin-left:  40px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #ff6600;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    position: relative; 
}

nav ul li a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff6600; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::before {
    width: 100%;
}

 /* Media query for responsiveness */
 @media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: transform 0.3s;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    #tt1 {
        font-size: 40px; 
    }

    .background-div {
        height: 300px; 
    }
    #logoo{
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    #tt1 {
        font-size: 30px; 
    }

    .background-div {
        height: 200px; 
    }
}


/* Original styles for larger screens */
.title1 {
    margin: 0;
    line-height: 1.2em;
    font-family: Nunito;
    font-weight: bold;
    font-size: 60px;
}
#t2{
    color: #ff6600;
    }
    @media screen and (max-width: 768px) {
        .title1 {
            font-size: 40px;
        }
    
        #home {
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        #a1 {
            max-width: 100%;
            height: auto;
            margin-left: 0;
            margin-top: 20px;
            padding: 0px;
        }
    
        #p1 {
            font-size: 16px;
            text-align: center;
        }
    
        .cta-button {
            font-size: 16px;
        }
    }
    

/* Original styles (for screens larger than 768px) */
#home {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    padding: 70px;
}

#a1 {
    width: auto;
    max-height: 420px;
    margin-left: 70px;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0px;
}



#p1 {
    line-height: 1.2em;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* Style the hero section */
.hero {
    text-align: center;
    padding: 70px 0;
}

h1 {
    font-size: 36px;
}

.cta-button {
    display: inline-block;
    background: linear-gradient(to right, #0072ff, #006eff);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/*__________________video+text________________________*/
#scroll-container {
    display: flex;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    margin-left: 100px;
    margin-right: 100px;
}

#title2 {
    padding: 10px;
    margin-top: 150px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
}

video {
    width: 800px;
    height: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #scroll-container {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #title2 {
        margin: 20px;
        font-family: Nunito;
    font-size: 20px;
}
    }

    video {
        max-width: 100%;
        height: auto;
    }



/* info*/
#info{
    background-color: #a9d4ff;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card1 {
    width: 250px;
    height: 360px;
    border: 1px solid #e1e1e1;
    margin: 40px;
   
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    border-radius:7px ;
}

/* Style the logo */
.card1 img {
    max-width: 70px;
    max-height: 70px;
    margin: 30px 10px 0;
}

/* Style the heading and paragraph */
.card1 h3 {
    font-size: 24px;
    margin: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.card1 p {
    font-size: 14px;
    margin: 30px 10px 0;
}
.title3{
    line-height: 2em;
        font-family:Nunito;
        font-weight: bold;
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 300px;
        margin-right: 300px;
        text-align: center;
        color: #2d2d2d;
}
.gridpara{
    margin-bottom: 40px;
}
.underline {
    text-decoration-line: underline;
    text-decoration-color: #ffaa71; 
    text-decoration-skip-ink: none; 
    text-underline-offset: -4px; 
    text-decoration-thickness: 6px;
}

/* ______________________service_shortcut__________________________*/
#service_shortcut{
    background-color: #ffffff;
    padding-top: 60px;
}
#part3 {
    background-color: #ff5500;
  
    margin-top: 120px;
}
#tt4 {
    font-family: Nunito;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #363636;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

#title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 80px;
}

#tt3 {
    font-family: Nunito, sans-serif;
    font-size: 80px;
    color: #ffffff;
    margin: 20px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
}

.card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 30px; 
    width: 300px;
    margin-bottom: 50px;
    transition: box-shadow 0.2s ease, background-color 0.2s ease, font-size 0.2s ease;
}

.card-left {
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.card-right {
    flex: 2;
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-paragraph {
    font-size: 14px;
}

/* Hover effect for all cards */

.card:hover {
    background-color: #ff5500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column; 
        align-items: center; 
    }
    
    .card {
        width: calc(100% - 20px); 
        margin-bottom: 20px; 
    }
}


/* Style the footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}


@media screen and (max-width: 768px) {
    
}
/*_____________________Lets grow together section____________________________*/
#sec4 {
    background-color: #dedede; 
    padding: 60px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#sec4-content, #sec4-form {
    flex: 1;
    padding-right: 10px;
}

#sec4-content {
    text-align: center;
}

#sec4-form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

#tt4 {
    font-family: Nunito;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    color: #363636;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#tt5 {
    font-size: 24px;
    margin-bottom: 10px;
}

#p4{
   
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
}

/* Contact Form Styles */
#contact-form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#sec4logo{
    width: auto;
}
button[type="submit"] {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff6600;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #sec4 {
        padding: 20px;
    }

    #sec4-content, #sec4-form {
        flex: 1 100%;
        padding-right: 0;
    }

    #tt4 {
        font-size: 32px;
    }

    #p4 {
        font-size: 14px; 
        padding: 10px 0; 
        text-align: center;
    }

    #contact-form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        margin-right: 0;
    }
    #sec4logo {
        text-align: center; 
        width: 300px;
        height: auto;
    }
}
